$bg-cell-color: #d3d3d3;
$white-text: #ffff;
// $background-color: #f6f4f4;
// $background-create-color: #bdc3f5;
// $background-add-color: #e0f0ea;
// $background-delete-color: #f1d1dc;
// $background-hover-cell-color: #efe9cb;
// $background-hover-summary-cell-color: linear-gradient(180deg, #e0efea 0%, #bdc3f5 100%);
$header-cell-text-color: #423e53;
$bg-header-cell: #cacade;
$cell-text-color: #4f4f4f;
